@charset "utf-8";

@font-face { 
    font-family: 'KCC-DodamdodamR'; /* 도담도담 */
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-DodamdodamR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header{box-sizing: border-box;}
.header .nav ul li:hover a{color: orangered;}
.header a{font-family: 'KCC-DodamdodamR'; }

@media(min-width:1025px){
    .header{width: 100%; height: 100px; padding: 0 10vh;  z-index: 99; position: relative; z-index: 999; }
    .header h1{float: left; width: 200px; height: 100%; display: flex; align-items: center; justify-content: center;}
    .header h1 img{width: 80%;}
    .header .nav{float: right; margin-top: 40px;}
    .header .nav li{float: left;  width: 200px; text-align: center;}
    .header .nav li.home{display: none;}
    .header .nav li a{font-size: 26px; transition: all 0.3s; color: black;}

    .header.fix{position: fixed; left: 0; top: 0; height: 60px; z-index: 999;}
    .header.fix h1{display: none;}
    .header.fix .nav{margin-top: 20px;}
}


@media(max-width:1460px){
    .header .nav li{width: 180px;}
    .header .nav li a{font-size: 28px;}
}

@media(max-width:1270px){
    .header .nav li{width: 155px;}
}

@media(max-width:1024px){
    .header{width: 100%;  height: 100px;}
    .header h1{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
    .header h1 img{width: 80%;}

    .header .bar{
        width: 30px; height: 25px; cursor: pointer;
        position: fixed;  left: 3%; top: 6vh; z-index: 100;
    }
    
    .header .bar p{
        width: 100%; height: 3px; background-color:rgba(0,0,0,0.5);
        border-radius: 20px; position: absolute; left: 0px; transition: all 0.3s;
    }
    .header .bar p:nth-of-type(2){top: 9px;}
    .header .bar p:nth-of-type(3){top: 18px;}
    .header .bar:hover p{background-color:rgba(0,0,0,0.9);}
    .header .bar:hover p:nth-of-type(1),
    .header .bar:focus p:nth-of-type(1){left: 20%}
    .header .bar:hover p:nth-of-type(2),
    .header .bar:focus p:nth-of-type(2){left: 40%}

    .header .nav{
        width: 50%; height: 100vh; background-color: #fbe9e7;
        position: fixed; left: -100%; top: 0vh;  z-index: 999;
        opacity: 0; transition: all 0.5s;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .header .nav.on{opacity: 1; left: 0;}
    .header .nav ul{width: 100%; height: 100%; padding-top: 15vh;}
    .header .nav ul li{margin: 20% 0 0 25%;}
    .header .nav li.home{display: block;}
    .header .nav ul li a{transition: all 0.3s; position: relative; color: black; font-size: 34px;}

    .header .nav ul li a::after{
        font: var(--fa-font-solid);
        font-size: 0.7em;
        position: absolute; right: -40%; top: 17%;
        opacity: 0;
    }
    .header .nav ul li:nth-of-type(1) a::after{content: "\f6f0"; right: -35%;}
    .header .nav ul li:nth-of-type(2) a::after{content: "\f4d8";}
    .header .nav ul li:nth-of-type(3) a::after{content: "\f135"; right: -30%;}
    .header .nav ul li:nth-of-type(4) a::after{content: "\f19d";}
    .header .nav ul li:nth-of-type(5) a::after{content: "\f4be"; right: -35%;}
    .header .nav ul li:hover a::after{opacity: 1;}

    .header .nav .x_bar{
        width: 30px; height: 25px; cursor: pointer; 
        position: absolute; left: 18%; top: 6vh; z-index: 100;
        opacity: 0.8; transition: all 0.3s;
    }
    .header .nav .x_bar p{
        width: 100%; height: 2px; background-color:rgba(0,0,0,0.9); border-radius: 20px;
        position: absolute; left: 0px; top: 50%; transform: translateY(-50%) rotate(45deg);
        transition: all 0.3s; 
    }
    .header .nav .x_bar p:last-child{transform: translateY(-50%) rotate(-45deg);}
    .header .nav .x_bar:hover{opacity: 1; transform: scale(1.2);}
}

@media(max-width:840px){
    .header h1 img{width: 70%;}
    .header .nav ul li a{font-size: 32px;}
}
@media(max-width:760px){
    .header .bar{width: 25px; height: 20px;}
    .header .bar p:nth-of-type(2){top: 7px;}
    .header .bar p:nth-of-type(3){top: 14px;}
    .header .nav .x_bar{width: 28px; height: 25px; left: 15%; top: 6vh;}
}
@media(max-width:640px){
    .header .nav ul li a{font-size: 28px;}
}
@media(max-width:560px){
    .header .nav ul li a{font-size: 25px;}
}
@media(max-width:480px){
    .header .nav ul li a{font-size: 22px;}
    .header .bar p{height: 2px;}
    .header .nav .x_bar{height: 2px;}
    .header .nav .x_bar{width: 25px; height: 20px; left: 15%; top: 6vh;}
}
@media(max-width:380px){
    .header h1 img{margin-left: 15%;}
    .header .nav ul li a{font-size: 20px;}
}